body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: thistle;
}

h1 {
    font-size: 3rem;
}

h1, p {
    padding-left: 2rem;
}

input {
    margin-left: 2rem;
}

ul {
    padding-left: 3rem;
    padding-top: 1rem;
}

button {
    margin-left: 2rem; 
}